@page
@model RecipeModel

@{
	ViewData["Title"] = "Recipes";
	ViewData["active"] = "Recipes";
	var x = "";
}
<div class="modals">
	<!-- Adding Modal -->
	<div class="modal fade" id=@{
		 x="addModal";
		 	@x
		 ;
		 } +@category.ID tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<form method="post" asp-page="CreateRecipe" class="needs-validation" novalidate>
					<div class="modal-header">
						<h5 class="modal-title">Adding a new Recipe</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body ">
						<label for=@{
							   x="name";
							   	@x
							   ;
							   } class="form-label ">Title</label>
						<input type="text" class="form-control mb-3" id=@{
							   x="name";
							   	@x
							   } name="title" required value=@{
							   x="";
							   if(Model.Title!=""){
							   x=Model.Title;
							   }
							   	@x
							   }>
						<div class="valid-feedback">
							Looks good!
						</div>
						<input type="hidden" class="form-control" name="id">
						<div class="form-floating mb-3">
							<textarea class="form-control mb-3" placeholder="Leave a comment here" id=@{
									  x="floatingTextarea";
									  	@x
									  ;
									  } style="height: 100px" name="ingredients" required>@{
									x = "";
									if (Model.Ingredients != "")
									{
										x = Model.Ingredients;
									}
									@x
								}</textarea>
							<div class="valid-feedback">
								Looks good!
							</div>
							<label for=@{
								   x="floatingTextarea";
								   	@x
								   ;
								   }>ingredients<span class="weaker">(separated by new lines)</span></label>
						</div>
						<div class="form-floating mb-3">
							<textarea class="form-control" placeholder="Leave a comment here" id=@{
									  x="floatingTextarea2";
									  	@x
									  ;
									  } style="height: 100px" name="instructions" required>@{
									x = "";
									if (Model.Instructions != "")
									{
										x = Model.Instructions;
									}
									@x
								}</textarea>
							<div class="valid-feedback">
								Looks good!
							</div>
							<label for=@{
								   x="floatingTextarea2";
								   	@x
								   ;
								   }>instructions<span class="weaker">(separated by new lines)</span></label>
						</div>
						<div class="form-floating mb-3">
							<div class="btn-group mb-3" role="group" aria-label="Basic checkbox toggle button group">
								@foreach (var category in Model.Categories)
								{
									x = "";
									<input name="categories"
									   type="checkbox" class="btn-check" id=@{
									   x = "btncheckedit";
									   x+=category.ID;
									   	@x
									   ;
									   }
									   value=@category.ID
									   autocomplete="off">
									<label class="btn btn-outline-danger"
									   for=@{
									   x="btncheckedit";
									   x+=category.ID;
									   	@x
									   ;
									   }>
										@category.Name
									</label>
								}
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Add</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	@if (Model.Recipes.Count > 0)
	{
		@foreach (var recipe in Model.Recipes)
		{
			;
			<!--showing Modal -->
			<div class="modal fade" id=@{
		 x="showModal";
		 x+=recipe.ID;
		 	@x
		 ;
		 } +@category.ID tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<form method="post" asp-page="UpdateRecipe"class="needs-validation" novalidate>
							<div class="modal-header">
								<h5 class="modal-title">@recipe.Title</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body show">
								<div class="label">
									ingredients
								</div>
								<div class="ingredients mb-3">
									@foreach (var ingredient in recipe.Ingredients)
									{
										<div>@ingredient</div>
									}
								</div>
								<div class="label">
									instructions
								</div>
								<div class="instructions mb-3">
									<ol>
										@foreach (var instruction in recipe.Instructions)
										{
											<li> <div>@instruction</div></li>
										}
									</ol>
								</div>
								<div class="label">
									categories
								</div>
								<div class="categories mb-3">
									@foreach (var category in recipe.Categories)
									{
										<div class="category">@Model.categoriesNamesMap[category]</div>
									}
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- Editing Modal -->
			<div class="modal fade" id=@{
		 x="editModal";
		 x+=recipe.ID;
		 	@x
		 ;
		 } +@category.ID tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<form method="post" asp-page="UpdateRecipe" class="needs-validation" novalidate>
							<div class="modal-header">
								<h5 class="modal-title">Editing a Recipe</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body edit">
								<label for=@{
							   x="name";
							   x+=recipe.ID;
							   	@x
							   ;
							   } class="form-label ">Title</label>
								<input type="text" class="form-control mb-3" id=@{
							   x="name";
							   x+=recipe.ID;
							   	@x
							   ;
							   } name="title" value="@recipe.Title" required>
								<input type="hidden" class="form-control" name="id" value="@recipe.ID">
								<div class="form-floating mb-3">
									<textarea class="form-control mb-3" placeholder="Leave a comment here" id=@{
									  x="floatingTextarea";
									  x+=recipe.ID;
									  	@x
									  ;
									  } style="height: 100px" name="ingredients" required>
										@{
											var index2 = 0;
											@foreach (var ingredient in recipe.Ingredients)
											{
												x = index2 > 0 ? "\r\n" : "";
												x += ingredient;
												@x
												index2++;
											}
										}
																																																																														</textarea>
									<label for=@{
								   x="floatingTextarea";
								   x+=recipe.ID;
								   	@x
								   ;
								   }>ingredients<span class="weaker">(separated by new lines)</span></label>
								</div>
								<div class="form-floating mb-3">
									<textarea class="form-control" placeholder="Leave a comment here" id=@{
									  x="floatingTextarea2";
									  x+=recipe.ID;
									  	@x
									  ;
									  } style="height: 100px" name="instructions" required>
										@{
											index2 = 0;
											@foreach (var instruction in recipe.Instructions)
											{
												x = index2 > 0 ? "\r\n" : "";
												x += instruction;
												@x
												index2++;
											}
										}
																																																																														</textarea>
									<label for=@{
								   x="floatingTextarea2";
								   x+=recipe.ID;
								   	@x
								   ;
								   }>instructions<span class="weaker">(separated by new lines)</span></label>
								</div>
								<div class="form-floating mb-3">
									<div class="btn-group mb-3" role="group" aria-label="Basic checkbox toggle button group">
										@foreach (var category in Model.Categories)
										{
											x = "";
											<input name="categories"
									   type="checkbox" class="btn-check" id=@{
									   x = "btncheckedit";
									   x+=recipe.ID;
									   x+=category.ID;
									   	@x
									   ;
									   }
									   value=@category.ID
									   autocomplete="off"
									   @{
									   	@if(recipe.Categories.Any(c=> c== category.ID))
									   {
									   x="checked";
									   }
									   else
									   {
									   x="";
									   }
									   	@x
									   }>
											<label class="btn btn-outline-danger"
									   for=@{
									   x="btncheckedit";
									   x+=recipe.ID;
									   x+=category.ID;
									   	@x
									   }>
												@category.Name
											</label>
										}
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
								<button type="submit" class="btn btn-primary">Save changes</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!--Delete Modal -->
			<div class="modal fade" id=@{
		 x="deleteModal";
		 x+=recipe.ID;
		 	@x
		 } tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<form method="post" asp-page="DeleteRecipe">
							<input type="hidden" class="form-control" name="id" value="@recipe.ID">
							<div class="modal-header">
								<h5 class="modal-title">Deleting a Recipe</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								Are you sure you want to delete the recipe <span class="delete-category">@recipe.Title</span> ?
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
								<button type="submit" class="btn btn-danger">Yes, Delete</button>
							</div>
						</form>
					</div>
				</div>
			</div>


		}
	}
</div>
<div class="page-body recipes">
	<div class="page-body-elements">
		<div class="recipes-header-container">
			<h1> Recipes </h1>
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target=@{
					x="#addModal";
						@x
					;
					}>
				<img class="action" src="~/Images/add.png" alt="add" />

			</button>

		</div>
		<div class="recipe-cards">
			@if (Model.Recipes.Count > 0)
			{
				@foreach (var recipe in Model.Recipes)
				{
					<div class="recipe-card">

						<div class="title">
							@recipe.Title
						</div>
						<div class="buttons">
							<!-- Button trigger modal -->
							<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target=@{
							x="#showModal";
							x+=recipe.ID;
								@x
							}>
								<img class="action" src="~/Images/view.png" alt="view" />
							</button>
							<!-- Button trigger modal -->
							<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target=@{
							x="#editModal";
							x+=recipe.ID;
								@x
							}>
								<img class="action" src="~/Images/edit.png" alt="edit" />
							</button>


							<!-- Button trigger modal -->
							<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target=@{
							x="#deleteModal";
							x+=recipe.ID;
								@x
							}>
								<img class="action" src="~/Images/bin.png" alt="del" />
							</button>
						</div>
					</div>
				}
			}
		</div>
	</div>
</div>

